.client__card {
  padding: 20px;
  background: #fff;
  width: 390px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  @media (max-width: 450px) {
    width: 290px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 40px;
    bottom: -35px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #fff;
  }

  &__image {
    display: flex;
    align-items: center;
    column-gap: 20px;

    .image {
      border-radius: 84px;
      width: 88px;
      height: 88px;
      background: #c4c4c4;

      @media (max-width: 450px) {
        width: 60px;
        height: 60px;
      }
    }

    h2 {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 32px;
      text-transform: capitalize;
      text-align: center;
      color: #265982;

      @media (max-width: 450px) {
        font-size: 25px;
      }
    }
  }

  p {
    font-family: var(--font8);
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    margin: 20px 0 40px;
    overflow: hidden;
    max-width: 350px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 25px 0 60px;
      -webkit-line-clamp: 6;
    }

    @media (max-width: 450px) {
      font-size: 10px;
    }
  }

  .stars{
    .star{
      @media (max-width: 450px) {
        width: 20px;
      }
    }
  }
}

