.ourPartners {
  width: 100%;
  padding: 50px 0 150px;
  position: relative;

  .top {
    overflow: hidden;
    background-image: url("/assets/images/pngwing.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 593px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 216px;
    justify-content: space-between;

    h1 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 46px;
      text-align: center;
      color: var(--zagol);
      margin-bottom: 40px;
      text-wrap: nowrap;
    }

    .slider {
      width: 100%;
      overflow: hidden;
    }

    .track {
      display: flex;
      width: fit-content;
      animation: scroll 20s linear infinite;
      column-gap: 60px;
    }

    .logo {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
    }
  }

  .downborder {
    background-image: url("/assets/images/downborder.svg");
    height: 48px;
    opacity: 0.68;
    width: 100%;
    object-fit: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
