.button {
	font-family: var(--font-family);
	font-weight: 700;
	border: 1px solid transparent;
	border-radius: 10px;
	font-size: 24px;
	max-width: 350px;
	text-wrap: nowrap;
	position: relative;
	padding: 15px 24px;
	border: none;
	overflow: hidden;
	cursor: pointer;
	background-color: #ffffff;
	font-family: var(--font3);
	text-align: center;
	z-index: 0;
	color: var(--osnov);
	transition: color 0.4s ease-out;
}

.button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--333);
	z-index: -1;
	transition: width 0.4s ease-out;
}

.button:hover {
	color: #ffffff;
}

.button:hover::before {
	width: 100%;
}

@media (max-width: 600px) {
	.button {
		max-width: 200px;
		padding: 8px 12px;
		font-size: 14px;
		border-radius: 5px;
	}
}
