.containerBenefits{
    display: flex;
    align-items: center;
    justify-content: center;
flex-wrap: wrap;
padding: 145px;
gap: 75px;

}

.sectionContainer{
    background-color: red;
// background-image: url(../../assets/img/benefistImg.png);
height: 942px;
}
.title{
    font-family: var(--font7);
font-weight: 400;
font-size: 24px;
line-height: 117%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}

.description{
    font-family: var(--font4);
font-weight: 400;
font-size: 20px;
line-height: 125%;
color: #fff;
width: 300px;
text-align: center;
}
