.hero {
	position: relative;
	top: 0;
	left: 0;
	height: 100vh;
	background-image: url("/assets/images/heroBg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	.inner {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 30px;
		max-width: 608px;

		.title {
			font-family: var(--second-family);
			font-size: 65px;
			line-height: 108%;
			color: #fff;
		}

		.subtitle {
			font-family: var(--third-family);
			font-weight: 400;
			font-size: 26px;
			color: #fff;
		}

		.btn {
			padding: 17px 25px 16px;
			font-size: 24px;
			max-width: 350px;
			text-wrap: nowrap;

			&:hover {
				background-color: var(--333);
				color: #fff;
			}
		}
	}
}

@media (max-width: 600px) {
	.hero {
		.inner {
			max-width: 292px;
			gap: 11.19px;
			.title {
				font-size: 26px;
				line-height: 100%;
			}
			.subtitle {
				font-weight: 400;
				font-size: 13px;
			}
			.btn {
				max-width: 200px;
				padding: 8px 12px;
				font-size: 14px;
				border-radius: 5px;
			}
		}
	}
}
