.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 792px;
  height: 285px;
  background: var(--osnov);
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2),
    -5px 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 67px 121px;
  width: 1034px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 115%;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.accent {
  color: #a7dcff;
}

.subtitle {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 113%;
  text-align: center;
  color: #fff;
}

.button {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 24px;
  color: var(--osnov);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  padding: 5px;
  border-radius: 10px;
  width: 350px;
  height: 62px;
}

.button:hover {
  background: #e0e0e0;
}
