.blogCards {
  padding: 140px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .filter {
    width: 100%;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    row-gap: 40px;
    column-gap: 24px;

    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 3fr);
      column-gap: 50px;
    }
    @media (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .pagination {
    padding: 50px 0 0;
    display: flex;
    align-items: center;
    column-gap: 40px;

    button {
      background: none;
    }

    .prev {
      font-family: var(--font4);
      font-weight: 400;
      font-size: 22px;
      color: #454545;
    }

    .next {
      font-family: var(--font4);
      font-weight: 400;
      font-size: 22px;
      color: var(--osnov);
      display: flex;
      align-items: center;
      column-gap: 20px;
      height: 50px;

      .arrow {
        padding-top: 3px;
      }
    }
  }
}
