@use "./variable.scss";
@use "./reset.scss";

body {
  background: var(--cvet-fona);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  width: 100%;
}
