.addArticle {
  padding: 50px;
}

.title {
  font-size: 46px;
  color: var(--zagol);
  font-family: var(--second-family);
}

.addArticleForm {
  padding: 0 145px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  label,
  p {
    font-family: var(--third-family);
    font-size: 26px;
    color: #000;
  }
  .input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    font-size: 22px;
    &::placeholder {
      color: #adadad;
      font-family: var(--font4);
    }
  }
  .textarea {
    resize: none;
    height: 430px;
    padding: 20px;
    font-size: 22px;
  }
}

.imageWrap.filled {
  background-color: #e0e0e0; // серый фон после загрузки
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 0;
}

.imageWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  border: solid;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  transition: 0.3s;

  .imageWrap.dragging {
    background-color: #f0f8ff;
    border-color: #007bff;
  }

  input {
    display: none;
  }
  .imageLabel {
    display: flex;
    padding: 20px 10px 0;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    span {
      transition-delay: 0.3s;
      &:first-child {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 10px 13px;
      }
      &:last-child {
        font-family: var(--font4);
        font-size: 20px;
        color: #adadad;
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 41px;
  justify-content: flex-end;
  button {
    &:first-child {
      border-radius: 10px;
      padding: 20px 35px;
      border: 5px solid var(--333);
      color: var(--333);
      width: 270px;
      max-height: 71px;
      background: rgba(210, 50, 22, 0.1);
      font-family: var(--font3);
      font-weight: 700;
      font-size: 26px;
      &:hover {
        color: rgba(210, 50, 22, 0.8);
        border-color: rgba(210, 50, 22, 0.8);
      }
    }
    &:last-child {
      border-radius: 10px;
      padding: 20px 35px;
      width: 270px;
      height: 71px;
      background: var(--333);
      font-family: var(--font3);
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #fff;
      &:hover {
        background: rgba(210, 50, 22, 0.8);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .addArticleForm {
    padding: 0 20px;
  }
  .buttons {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 36px;
  }
  .addArticleForm {
    padding: 0 20px;
    label,
    p {
      font-size: 22px;
    }
    .input,
    .textarea {
      font-size: 16px;
    }
  }
  .imageWrap {
    height: 400px;
    .imageLabel span:first-child {
      padding: 8px 10px;
      font-size: 18px;
    }
    .imageLabel span:last-child {
      font-size: 16px;
    }
  }
  .buttons {
    button {
      &:first-child {
        width: 100%;
        font-size: 20px;
      }
      &:last-child {
        width: 100%;
        font-size: 20px;
      }
    }
  }
}

.previewImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition-delay: 0.5s ease-in-out;
  
  .img {
    object-fit: cover;
    transition: filter 0.4s ease-in-out; 
  }

  &:hover {
    .img {
      filter: blur(3px);
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover .deleteImage {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .deleteImage {
    opacity: 0;
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.5);
    max-width: 200px;
    background: none;
    max-height: 80px;
    font-size: 20px;
    height: 100%;
    transition-delay: 0.3s ease-in-out;
    border-radius: 8px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    color: #fff;
    transform: translateY(50%) translateX(-50%);
    cursor: pointer;
    transition: opacity 0.4s ease-in-out, border 0.3s ease-in-out;
  
    &:hover {
      border: 3px solid rgba(255, 255, 255, 0.4);
      color: rgba(255, 255, 255, 0.4);
      background: #ffffff10;
      transition: all 0.5s ease-in-out;
      .previewImage .img {
        filter: blur(2px);
      }
    }
  }
}

.error {
  color: red !important;
  transition: all 0.3s ease-in-out;
}

.errorLoad {
  color: red !important;
  transition: all 0.2s ease-in-out;
  border: 1px solid red !important;
}
