.section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.head {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 46px;
  line-height: 109%;
  text-align: center;
  color: var(--zagol);
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1315px;
  aspect-ratio: 1315 / 716;
  border-radius: 20px;
  overflow: hidden;
}

.background {
  object-fit: cover;
  z-index: 1;
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 100%;
  padding: 40px;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }
}

.overlayContainer {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.text {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;

  @media (max-width: 768px) {
    color: black;
  }
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.description {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
