.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* адаптив */
  @media (max-width: 768px) {
    background-position: center top;
  }
  @media (max-width: 480px) {
    background-position: center top;
  }
}
