.container {
  position: relative;
  width: 100%;
  z-index:10;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden; 
  z-index: 1;
  border-radius: 70px;

}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 534px;
  border-radius: 70px;
  background: var(--osnov);
  gap: 70px;
  cursor: pointer;
  width: 100%;
}

.text {
  z-index: 5;
}

.titelSwiper {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #fff;
  width: 596px;
}

.pSwiper {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 123%;
  color: #fff;
  width: 565px;
  padding-top: 10px;
}

.titleh2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 46px;
  line-height: 109%;
  text-align: center;
  color: var(--zagol);
  width: 600px;
  padding-bottom: 60px;
}

.containerTitel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: rgba(0, 255, 242, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.wrapper:hover .navButton {
  opacity: 1;
  visibility: visible;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.swiper-pagination-bullet {
  background: #e6e6e6;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #00c4cc;
}



