.burgerMenu {
	position: relative;
	display: none;
}

.burger {
	width: 30px;
	height: 24px;
	position: relative;
	cursor: pointer;
	z-index: 10;
}

.burger span {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 2px;
	left: 0;
	transition: 0.3s ease;
	transform-origin: center;
}

.burger span:nth-child(1) {
	top: 0;
}

.burger span:nth-child(2) {
	top: 10px;
}

.burger span:nth-child(3) {
	top: 20px;
}

.burger.open span:nth-child(1) {
	transform: rotate(-45deg);
	top: 10px;
}

.burger.open span:nth-child(2) {
	opacity: 0;
}

.burger.open span:nth-child(3) {
	transform: rotate(45deg);
	top: 10px;
}

.menuContent {
	position: absolute;
	max-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	top: 83px;
	right: -15px;
	border-radius: 0 0 5px 5px;
	background: #fff;
	z-index: 1;
	transition: all 0.4s ease-in-out;
	padding: 0 15px;

	.menuItem {
		&:hover {
			a {
				color: #acacac;
			}
		}

		a {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 18px;
			color: var(--zagol);
			transition: all 0.4s ease-in-out;
			display: block;
			padding: 15px 80px 15px 10px;
			text-wrap: nowrap;
		}
	}
}

.menuContent.opened {
	max-height: 500px;
}

@media (max-width: 1070px) {
	.burgerMenu {
		display: block;
	}
}

@media (max-width: 600px) {
	.menuContent {
		top: 63px;
	}
}
