.container {
  text-align: center; /* Центрирует текст */
  margin-top: 40px; /* Добавляем отступ сверху */
  margin: 0 auto;
}

.title {
  font-size: 28px;
  margin-bottom: 8px;
  text-align: center;
  
}

.description {
  font-size: 16px;
  color: #555;
  text-align: center;
}
