.serviceTabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
  position: relative;
  overflow: hidden;
  width: 100%;

  .nav {
    display: flex;
    align-items: center;
    position: relative;
    gap: 50px;
    height: 720px;
    width: 600px;
    max-height: 100%;
    margin: 0 auto;

    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 700px) {
      gap: 25px;
    }
    @media (max-width: 500px) {
      gap: 20px;
    }

    &.expanded {
      height: 1000px;
      @media (min-width: 1201px) {
        height: 720px;
      }
    }

    .scrollBar {
      position: relative;
      width: 12px;
      padding: 20px 0;
      min-height: 100%;
      border-radius: 30px;
      box-sizing: border-box;
      background: #c8c8c8;

      @media (max-width: 1200px) {
        width: 8px;
        min-height: 90%;
      }
      @media (max-width: 700px) {
        width: 5px;
        min-height: 80%;
      }

      .scrollDot {
        position: absolute;
        border-radius: 20px;
        min-width: 100%;
        height: 34px;
        background: var(--dop);
        transition: top 0.7s cubic-bezier(0.5, 1.5, 0.75, 1);

        @media (max-width: 1200px) {
          height: 30px;
        }
        @media (max-width: 1200px) {
          height: 25px;
        }
      }
    }

    .sidebar {
      // flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-left: 0;
      align-items: flex-start;
      width: max-content;

      li {
        padding: 10px;
        cursor: pointer;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        color: var(--osnov);
        transition: color 0.3s ease-in-out;
        transform-origin: left center;

        @media (max-width: 700px) {
          font-size: 24px;
        }
        @media (max-width: 500px) {
          font-size: 20px;
        }

        &.active {
          color: var(--333);

          .nav {
            height: 1000px;
          }
        }

        &:not(.active):hover {
          color: var(--333);

          @media (max-width: 1200px) {
            transition: all 0.3s ease-in-out;
            transform: scale(2);
            margin: 10px 0;
          }
          
          @media (max-width: 700px) {
            transition: all 0.3s ease-in-out;
            transform: scale(1.5);
            margin: 10px 0;
          }
        }
      }
    }
  }
}