.serviceTabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
  position: relative;
  overflow: visible;
  width: 100%;

  .nav {
    display: flex;
    align-items: center;
    position: relative;
    gap: 50px;
    height: 720px;
    width: 600px;
    max-height: 100%;
    margin: 0 auto;

    &.expanded {
      height: 1000px;
      @media (min-width: 1201px) {
        height: 720px;
      }
    }

    .scrollBar {
      position: relative;
      width: 12px;
      padding: 20px 0;
      min-height: 100%;
      border-radius: 30px;
      box-sizing: border-box;
      background: #c8c8c8;

      .scrollDot {
        position: absolute;
        border-radius: 20px;
        min-width: 100%;
        height: 34px;
        background: var(--dop);
        transition: top 0.7s cubic-bezier(0.5, 1.5, 0.75, 1);
      }
    }

    .sidebar {
      // flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-left: 0;
      align-items: flex-start; // ⬅ чтобы контент рос вправо, а не влево
      width: max-content;

      li {
        padding: 10px;
        cursor: pointer;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        color: var(--osnov);
        transition: color 0.3s ease-in-out;
        transform-origin: left center;

        &.active {
          color: var(--333);

          .nav {
            height: 1000px;
          }
        }

        &:not(.active):hover {
          color: var(--333);

          @media (max-width: 1200px) {
            transition: all 0.3s ease-in-out;
            transform: scale(2);
            margin: 10px 0;
          }
        }
      }
    }
  }
}